.branch, .branch-card {
  > div, > footer, > header {
    margin-left: 25px;
  }
  .has-photo {
    float: left;
    position: relative;
    margin: 0;
    i {
      color: @brand-info;
      display: block;
      position: absolute;
      top: 15px;
    }

    .no-photos {
      border: 2px solid @brand-info;
      border-radius: 50%;
      width: 10px;
      height: 10px;
    }
  }
  header {
    color: @brand-primary;
    font-size: @font-size-large;
  }

  .icon-container {
    padding-left: 25px;
  }

  .left-icon {
    position: absolute;
    left: 20px;
    display: block;
    font-size: @font-size-large;

    &.active {
      color: @brand-success;
    }
  }

  .card-rating {
    font-size: @font-size-large;
    padding-bottom: 15px;

    >div {
      display: inline-block;
    }
  }

  .rating-value {
    color: @raiting-color;
  }

  .card-description {
    font-size: @font-size-large;
    text-align: justify;

    .description-text {
      overflow: hidden;
      text-overflow: ellipsis;
      max-height: 65px;
    }

    .show {
      overflow: visible;
      height: auto;
      max-height: none;
    }

    button {
      padding: 0;
      font-size: @font-size-large;
      display: none;
    }
  }

  address {
    margin: 0;
  }

  footer {
    margin-top: 5px;
    > div {
      display: inline-block;
    }

    .reviews {
      margin-left: 10px;
    }
  }
}

.branch-card {
  > div, > footer, > header {
    margin-left: 0;
  }

  .branch-address {
    color: @link-color;
    address {
      font-size: @font-size-large;
    }
  }

  .reviews {
    color: @link-color;
    font-size: @font-size-base;
  }

  .block-lg {
    margin-top: 7px;
    font-size: @font-size-large;
    color: @brand-primary;
    .left-icon {
      color: @text-color;
      &.active {
        color: @brand-success;
      }
    }
  }

  .attributes {
    margin-top: 10px;
  }

  .rubrics {
    margin-top: 10px;
  }

  ul.card-list {
    padding: 0;
    > li {
      display: inline-block;
      margin-right: 4px;
      text-transform: capitalize;
    }

    > li:after {
      content: " • ";
    }

    > li:last-child:after {
      content: none;
    }
  }

  .photos {
    overflow: hidden;
    position: relative;
    white-space: nowrap;
    height: 80px;
    margin-top: 15px;
    img {
      display: inline-block;
      height: 80px;
      max-width: 200px;
    }
  }

  .photos.more:after {
    background-image: linear-gradient(to right, rgba(250, 245, 240, 0) 0px, #faf5f0 95%);
    bottom: 0;
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    width: 20px;
  }
}

.schedule {
  @h: ((@font-size-large * @line-height-base));
  .today {
    .today-text {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      max-width: 320px;
      font-size: @font-size-large;

      &.has-breaks {
        font-size: 13px;
      }
    }

    .today-down {
      color: @gray;
    }

  }

  .now {
    font-size: @font-size-base;
  }
}

.schedule-tooltip {

  &.in {
    opacity: 1;
  }

  &.bottom .tooltip-arrow {
    border-bottom-color: #ffffff;
  }

  .tooltip-inner {
    background-color: #ffffff;
    font-size: 13px;
    color: @text-color;
    max-width: 400px;
    padding: 0 20px 0 20px;
    box-shadow: 0 2px 9px rgba(20, 10, 0, 0.7), 0 0 1px rgba(0, 0, 0, 0.05);
  }

  .schedule-table {
    display: table;
  }

  .schedule-column {
    display: table-cell;
    padding: 10px 5px;
  }

  .schedule-column.active {
    background-color: @brand-info;
    &, .schedule-th {
      color: #ffffff;
    }
  }

  .schedule-th {
    color: @text-color;
    font-size: 14px;
  }

  .schedule-td {
    padding: 3px 0;
  }

  .schedule-item {
    text-align: left;
    font-size: 14px;
    span {
      color: @text-color;
    }

    &:first-child {
      padding-top: 10px;
    }

    &:last-child {
      padding-bottom: 10px;
    }
  }
}

.attribute-group-filter {
//  background-color: @gray-light;
  background-color: @panel-default-heading-bg;
  padding: 5px;
//  padding: 0;
  margin: 5px;
  border-bottom: 1px dashed @text-color;

  &:last-child {
    border-bottom: none;
  }

  .filter-header {
    color: #000000;
  }

  .filter-checkbox-container {
    display: flex;
    flex-flow: row wrap;
  }
  .filter-checkbox {
     flex: auto;
    display: inline-block;
    margin-right: 3px;
    margin-bottom: 3px;
    /* http://stackoverflow.com/questions/16129657/fitting-as-many-divs-as-possible-horizontally-in-html-and-filling-the-line-widt */
    .btn {
      padding: 6px;
      width: 100%;
      line-height: 1;
    }
    .btn-150 {
      width: 150px;
    }
    .btn-90 {
      width: 90px;
    }
  }

  .filter-slider {
//    margin-bottom: 15px;
    margin-right: 10px;
    margin-left: 5px;
    .title {
      color: @btn-default-color;
      font-size: @font-size-base;
    }
  }
}

.attribute-group-filter-wrapper {
  margin-left: 10px;
  margin-right: 15px;
//  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px dashed @text-color;
  &:last-child, .last {
    border-bottom: none;
  }

  .attribute-group-filter {
    margin: 0;
    padding: 0;
  }
}