@frame-width: 350px;
@frame-margin-left: 50px;

.frames {
  position: absolute;
  top: 40px;
  width: @frame-width;
}

.frame {
//  background: none repeat scroll 0 0 #fff;
//  height: 100%;
  position: absolute;
  left: @frame-margin-left;
  margin: -2px 0 0 0;
//  transition: bottom 0.3s ease 0s;
//  border-radius: @border-radius-base;
  .panel-title {
    float: none;
  }
  .panel-body {
    padding: 0;
    overflow-y: auto;
    font-size: ((floor(@font-size-base * 1.1)));
  }
  .count {
    font-size: @font-size-small;
    position: absolute;
    margin-left: 5px;
    top: 6px;
  }
  &.active {
    box-shadow: 0 3px 10px 0 rgba(50, 50, 50, 0.75);
  }
}

.frame-filled {
  .panel-heading {
    background-color: @panel-default-heading-bg;
    border-bottom: 0;
  }
  .panel-body {
    border-top: 0;
    background-color: @panel-default-heading-bg;
    padding: 0 10px 0 25px;
  }
}

.frame-outside {
  left: @frame-width
}

.frame-1 {
  left: 0;
  margin-top: 0;
}