.leaflet-bar {
  box-shadow: none;
}

@map-control-zoom-in-size: 40px;
@map-control-zoom-in-border-size: 5px;

a.leaflet-control-zoom-in, a.leaflet-control-zoom-in:hover {
  height: @map-control-zoom-in-size;
  width: @map-control-zoom-in-size;
  line-height: ceil((@map-control-zoom-in-size * 0.7));//(@map-control-zoom-in-size - 2 * @map-control-zoom-in-border-size);
  border-radius: ceil((@map-control-zoom-in-size * 0.5)) !important;
  border: @map-control-zoom-in-border-size solid @brand-primary;
  font-size: ceil((@map-control-zoom-in-size * 0.7));
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.3);
}

@map-control-zoom-out-size: 32px;
@map-control-zoom-out-border-size: 5px;

a.leaflet-control-zoom-out, a.leaflet-control-zoom-out:hover {
  height: @map-control-zoom-out-size;
  width: @map-control-zoom-out-size;
  line-height: ceil((@map-control-zoom-out-size * 0.7));//(@map-control-zoom-out-size - 2 * @map-control-zoom-out-border-size);
  border-radius: ceil((@map-control-zoom-out-size * 0.5)) !important;
  border: @map-control-zoom-out-border-size solid @brand-primary !important;
  font-size: ceil((@map-control-zoom-out-size * 0.7));
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.3);
  position: relative;
  left: ceil(((@map-control-zoom-in-size - @map-control-zoom-out-size) / 2));
  margin-top: 2px;
}

.marker {
  &:hover {
    background: #cc0000;
  }
  &.active {
    z-index: 1000 !important;
    .location-medium();
    background: #cc0000;
  }
  &.location-paid.active {
    z-index: 100000 !important;
    .location-paid();
    background: #cc0000;
  }
}

.location-small {
  font-size: 10px;
  color: @brand-primary;
  border-radius: 50%;
  border: 1px solid #ffffff;
  background: #007799 none;
  width: 7px;
  height: 7px;
}

.location-medium {
  font-size: 8px;
  color: #ffffff;
  border-radius: 50%;
  border: 2px solid #ffffff;
  background: #007799 none;
  width: 16px;
  height: 16px;
  text-align: center;
  box-shadow: 0 0 2px 1px rgba(119, 119, 119, 0.75);
}

.location-paid {
  font-size: 10px;
  color: gold;
  border-radius: 50%;
  border: 2px solid #ffffff;
  background: #007799 none;
  line-height: 17px;
  width: 20px;
  height: 20px;
  text-align: center;
  box-shadow: 0 0 3px 1px rgba(119, 119, 119, 0.75);
}

.tooltip-inner {
  min-width: 200px;
  //max-width: 250px;
  width: auto;
  font-size: ((@font-size-base * 1.1));

  ul.attributes {
    font-size: ((@font-size-small * 0.9));
    color: @brand-warning;
    padding: 0;
    > li {
      display: inline-block;
      margin-right: 2px;
      text-transform: capitalize;
    }

    > li:after {
      content: " • ";
    }

    > li:last-child:after {
      content: none;
    }
  }
}