.rating-stars, .star-rating  {
  font-family: "icons";
}

.rating-container .rating-stars:before {
  text-shadow: none;
}

.rating-container .rating-stars {
  color: @raiting-color;
}

.rating-uni {
  font-size: 1.2em;
  margin-top: 0;
}

.rating-disabled {
  cursor: default;
}

.rating-xs {
  font-size: 12px;
  .rating-uni {
    font-size: 12px;
    margin-top: -1px;
  }
}

.rating-m {
  font-size: 14px;
  .rating-uni {
    font-size: 14px;
    margin-top: -2px;
  }
}

.rating-l {
  font-size: 16px;
  .rating-uni {
    font-size: 16px;
    margin-top: -2px;
  }
}