<div class="attribute-group-filter">
    <div class="filter-checkbox-container">
        <div class="filter-checkbox btn-group">
            <button class="btn btn-default btn-150" uib-btn-checkbox ng-model="filters.visible">{{'common.visibleOnMap' | i18n}}</button>
            <button class="btn btn-default btn-90" uib-btn-checkbox ng-model="sort.rating">{{'common.rating' | i18n}}</button>
        </div>
        <div class="filter-checkbox">
            <button class="btn btn-default" uib-btn-checkbox ng-model="filters.open">{{'common.open' | i18n}}</button>
        </div>
    </div>
    <div class="hr"></div>
</div>