<leaflet layers="layers" center="initPoint" maxbounds="maxbounds" defaults="defaults"
         resizable ng-style="{ width: windowWidth, height: windowHeight}">
</leaflet>

<div class="side_west">
    <form class="form-inline" ng-submit="search(query)">
        <div class="input-group push-down-10 search">
            <input type="text" class="form-control" placeholder="search name, address or route..." ng-model="query">
            <div class="input-group-btn">
                <button class="btn btn-primary" type="submit"><span class="icon-search"></span></button>
            </div>
        </div>
    </form>
    <div data-dashboard ng-show="showDashboard"></div>
    <div ui-view class="data-view"></div>
</div>

<div class="footer-items">
    <button class="footer-item btn btn-primary" ng-show="showDashboardButton" ng-click="goHome()">
        <i class="fa fa-building-o"></i>  Florianópolis
    </button>
</div>