<leaflet layers="layers" center="initPoint" maxbounds="maxbounds" defaults="defaults"
         resizable ng-style="{ width: windowWidth, height: windowHeight}">
</leaflet>

<div class="header-items">
    <div class="btn-group lang-btn" uib-dropdown>
        <button type="button" class="header-item btn btn-primary" uib-dropdown-toggle>
            {{::currentLang}}
        </button>
        <ul uib-dropdown-menu role="menu" aria-labelledby="single-button">
            <li role="menuitem" ng-repeat="(lang,name) in ::supportedLangs">
                <a href="#" ng-click="changeLang(lang);$event.preventDefault();">{{::name}}</a>
            </li>
        </ul>
    </div>
</div>

<div class="side_west">
    <form class="form-inline" ng-submit="search(query)">
        <div class="input-group push-down-10 search">
            <input type="text" class="form-control" placeholder="search name, address or route..."
                   i18n-attr="{'placeholder': 'common.searchPlaceholder'}" ng-model="query">
            <div class="input-group-btn">
                <button class="btn btn-primary" type="submit"><span class="icon-search"></span></button>
            </div>
        </div>
    </form>
    <div data-dashboard ng-show="showDashboard"></div>
    <div ui-view class="data-view"></div>
</div>

<div class="footer-items">
    <button class="footer-item btn btn-primary" ng-show="showDashboardButton" ng-click="goHome()">
        <i class="fa fa-building-o"></i>  {{project.name}}
    </button>
</div>

<div class="footer-items-right">
    <div feedback class="footer-item-small"></div>
</div>