@font-face {
  font-family: 'icons';
  src: url('../font/icons.eot?65905098');
  src: url('../font/icons.eot?65905098#iefix') format('embedded-opentype'),
       url('../font/icons.woff?65905098') format('woff'),
       url('../font/icons.ttf?65905098') format('truetype'),
       url('../font/icons.svg?65905098#icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @