<div class="branch-card">
    <header class="card-header"><h1>{{b.name}}</h1></header>
    <div class="card-rating">
        <div class="rating-value">{{b.rating}}</div>
        <rating rate="b.rating" readonly="readonly" size="l"></rating>
        <div class="reviews">{{b.comments.total}} отзыва</div>
    </div>
    <div class="card-description">
        <div class="description-text" ng-class="{show: !collapseDescr}">{{b.description}}</div>
        <button class="btn btn-link" ng-click="collapseDescr=false" ng-show="collapseDescr">Прочесть полностью</button>
        <button class="btn btn-link" ng-click="collapseDescr=true" ng-show="!collapseDescr">Скрыть</button>
    </div>
    <address>{{b.address | formatAddress}}</address>
    <div class="card-hr"></div>
    <div schedule="b.schedule"></div>
    <div class="card-hr"></div>
    <ul class="payment-options">
        <li ng-repeat="p in b.payment_options">{{p}}</li>
    </ul>
    <div class="photos" ng-if="b.photos.length">
        <a href="#" ng-repeat="photo in b.photos">
            <img ng-src="{{photo}}">
        </a>
    </div>
</div>