<div class="branch-card">
    <div class="card-rating">
        <div class="rating-value">{{::b.rating}}</div>
        <rating rate="::b.rating" readonly="readonly" size="l"></rating>
        <div class="reviews">{{::b.comments.total}} отзыва</div>
    </div>
    <div class="icon-container card-description" ng-if="b.description">
        <div class="description-text" ng-class="{show: !collapseDescr}">{{b.description}}</div>
        <button class="btn btn-link" ng-click="collapseDescr=false" ng-show="collapseDescr">Прочесть полностью</button>
        <button class="btn btn-link" ng-click="collapseDescr=true" ng-show="!collapseDescr">Скрыть</button>
    </div>
    <div class="icon-container branch-address" ng-if="::b.address.street">
        <i class="icon-location left-icon"></i>
        <address>{{::b.address | formatAddress}}</address>
    </div>
    <div class="card-hr"></div>
    <div branch-schedule="b.schedule" class="block-lg"></div>
    <div ng-if="b.contacts" ng-repeat="contact in b.contacts track by $index">
        <div branch-contact="contact" class="block-lg"></div>
    </div>
    <div class="card-hr"></div>
    <div class="icon-container" ng-if="b.payment_options.length">
        <i class="icon-credit-card left-icon"></i>
        <ul class="card-list">
            <li ng-repeat="p in b.payment_options track by $index">{{p}}</li>
        </ul>
    </div>
    <div class="photos" ng-if="::b.photos.length">
        <a href="#" ng-repeat="photo in b.photos">
            <img ng-src="{{::photo}}">
        </a>
    </div>
    <div class="icon-container" ng-if="::b.attributes.length">
        <i class="icon-tags left-icon"></i>
        <ul class="card-list attributes">
            <li ng-repeat="a in b.attributes track by $index">{{a.name}}</li>
        </ul>
    </div>
    <div class="icon-container" ng-if="::b.rubrics.length">
        <ul class="card-list rubrics">
            <li ng-repeat="r in b.rubrics track by $index">
                <a ng-href="#/search/{{::r.name|query:true}}">{{::r.name}}</a>
            </li>
        </ul>
    </div>
</div>