<div class="branch-contact">
    <div ng-if="c.contact === 'website'">
        <div class="card-icon"><i class="icon-ie"></i></div>
        <a ng-href="{{c.url}}" target="_blank">{{c.url|host}}</a>
    </div>
    <div ng-if="c.contact === 'facebook'">
        <div class="card-icon"><i class="icon-facebook"></i></div>
        <a ng-href="{{c.url}}" target="_blank">{{c.url|host}}</a>
    </div>
    <div ng-if="c.contact === 'twitter'">
        <div class="card-icon"><i class="icon-twitter"></i></div>
        <a ng-href="{{c.url}}" target="_blank">{{c.url|host}}</a>
    </div>
    <div ng-if="c.contact === 'instagram'">
        <div class="card-icon"><i class="icon-instagramm"></i></div>
        <a ng-href="{{c.url}}" target="_blank">{{c.url|host}}</a>
    </div>
    <div ng-if="c.contact === 'email'">
        <div class="card-icon"><i class="icon-mail"></i></div>
        <a ng-href="mailto:{{c.value}}" target="_blank">{{c.value}}</a>
    </div>
    <div ng-if="c.contact === 'phone'">
        <div class="card-icon"><i class="icon-phone"></i></div>
        {{c.value|phone}}
    </div>
    <div ng-if="c.contact === 'fax'">
        <div class="card-icon"><i class="icon-fax"></i></div>
        {{c.value|phone}}
    </div>
    <div ng-if="c.contact === 'skype'">
        <div class="card-icon"><i class="icon-skype"></i></div>
        <a ng-href="{{c.url}}" target="_blank">{{c.value}}</a>
    </div>
</div>