<div class="branch-contact-sn">
    <a ng-if="c.contact === 'facebook'" ng-href="{{c.url}}" target="_blank" title="Facebook"><i class="icon-facebook"></i></a>
    <a ng-if="c.contact === 'twitter'" ng-href="{{c.url}}" target="_blank" title="Twitter"><i class="icon-twitter"></i></a>
    <a ng-if="c.contact === 'instagram'" ng-href="{{c.url}}" target="_blank" title="Instagram"><i class="icon-instagramm"></i></a>
    <a ng-if="c.contact === 'draugiem'" ng-href="{{c.url}}" target="_blank" title="Draugiem"><i class="icon-draugiem"></i></a>
</div>