<div class="schedule">
    <div class="today schedule-tip" schedule-tooltip="{{schedule}}" tooltip-placement="bottom" ng-if="schedule.length > 1">
        <div class="today-text">{{today|formatToday}}</div>
        <div class="today-down">
            <i class="icon-angle-circled-down"></i>
        </div>
    </div>
    <div class="today" ng-if="schedule.length <= 1">
        <div class="today-text">{{today|formatToday}}</div>
    </div>
    <div class="now">{{now}} <span ng-if="timeLeft">{{timeLeft}} мин.</span></div>
</div>