<div class="tooltip schedule-tooltip {{placement}}" ng-class="{ 'in': isOpen(), fade: animation() }">
  <div class="tooltip-arrow"></div>
  <div class="tooltip-inner">
      <div class="schedule-table" ng-if="::schedule.length > 2">
          <div class="schedule-column" ng-class="{active: (item.dayIndex === todayIndex)}" ng-repeat="item in schedule">
              <div class="schedule-th">{{::item.label}}</div>
              <div class="schedule-td"
                   title={{::sch_item.description}}
                   ng-repeat="sch_item in item.items"
                   ng-if="::item.items.length">
                  <div>{{::sch_item.from}}</div>
                  <div>{{::sch_item.to}}</div>
              </div>
              <div class="schedule-td" ng-if="::!item.items.length">
                  <div> - </div>
              </div>
          </div>
      </div>
      <div class="schedule-item"
           title={{::item.description}}
           ng-repeat="item in schedule"
           ng-if="::schedule.length < 3">
          {{::item.label}}: <span>{{::item|formatSchedule}}</span>
      </div>
  </div>
</div>