<div class="schedule icon-container">
    <i class="icon-clock left-icon" ng-class="{active: isWorking}"></i>
    <a class="today schedule-tip"
         href="#"
         ng-click="$event.preventDefault();"
         schedule-tooltip="{{schedule}}"
         tooltip-placement="bottom"
         tooltip-append-to-body="true"
         ng-if="schedule.length > 1">
        <div class="today-text" ng-class="{'has-breaks': today.breaks.length}" ng-bind-html="today|formatToday"></div>
    </a>
    <div class="today" ng-if="::schedule.length <= 1">
        <div class="today-text" ng-class="{'has-breaks': today.breaks.length}" ng-bind-html="today|formatToday"></div>
    </div>
    <div class="now" ng-if="::today.items.length">{{now}} <span ng-if="timeLeft">{{timeLeft}} {{'common.shortMinute' | i18n}}</span></div>
</div>