<div class="dashboard">
   <div class="city">
       <div class="city_name">{{project.name}}</div>
       <div class="city_time">{{currentTime|amDateFormat:'HH:mm, DD MMMM, dddd'}}</div>
       <button class="close" ng-click="close()"><i class="icon-times"></i></button>
   </div>
   <ul class="rubrics" ng-click="search($event)">
       <li class="rubric">
           <div class="rubric-icon">
               <i class="icon fa fa-cutlery"></i>
           </div>
           <div class="caption" i18n="common.whereEat"></div>
       </li>
       <li class="rubric">
           <div class="rubric-icon">
               <i class="icon fa fa-glass"></i>
           </div>
           <div class="caption" i18n="common.whereRest"></div>
       </li>
       <li class="rubric disabled" i18n-attr="{'title': 'common.comingSoon'}">
           <div class="rubric-icon">
               <i class="icon fa fa-bed"></i>
           </div>
           <div class="caption" i18n="common.hotels"></div>
       </li>
       <li class="rubric">
           <div class="rubric-icon">
               <i class="icon fa fa-plus"></i>
           </div>
           <div class="caption" i18n="common.allCategories"></div>
       </li>
   </ul>
</div>