<div class="frames">
    <div class="frame frame-1 panel panel-primary panel-hidden-controls" ng-show="feed.branches.length">
        <div class="panel-heading">
            <ul class="panel-controls">
                <li><a class="panel-collapse" href="#"><span class="icon-down-open"></span></a></li>
                <li><a class="panel-remove" href="#"><span class="icon-cancel"></span></a></li>
            </ul>
            <h3 class="panel-title">
                Организации <span class="count">{{feed.total_count}}</span>
            </h3>
        </div>
        <div id="branches_container" class="panel-body">
            <div class="list-group list-group-cards"
                 infinite-scroll='feed.nextPage()'
                 infinite-scroll-distance="1"
                 infinite-scroll-disabled='feed.busy || feed.eof || !feed.query'
                 infinite-scroll-container="'#branches_container'"
                 infinite-scroll-parent >
                <a ng-repeat="b in feed.branches" class="list-group-item card" branch="b" href="#"
                     ng-click="openBranch(b)">
                </a>
            </div>
        </div>
        <div ui-view="child_frame"></div>
    </div>
</div>